// normalize
view,
swiper,
icon,
text,
progress,
button,
checkbox,
form,
input,
label,
picker,
picker-view,
radio,
slider,
switch,
textarea,
navigator,
audio,
image,
video {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

button::after {
  display: none;
}
